In [1]:
# Instalamos una versión de Twint que da mejores resultados que si hiciesemos (pip install twint)
# !pip install --user --upgrade "git+https://github.com/twintproject/twint.git@origin/master#egg=twint"

In [2]:
import twint
import nest_asyncio
nest_asyncio.apply()

import warnings
warnings.filterwarnings('ignore')
import sqlite3

import pandas as pd

In [3]:
# Twitter ha cambiado el código para que twint no sea tan efectivo.
# A veces devuelve 5 resultados, otras veces 20, otras 60 y a veces nada.
# Por eso se han sacado los tweets en diferentes fechas y luego se han unificado.

# Configure
# c = twint.Config()
# c.Search = "@TheBridge_Tech"
# c.Store_json =True
# c.Limit = 200
# c.Retweets = True
# c.Since = '2022-06-13'
# c.Until = '2022-06-27'
# # c.Output = 'data/twint_06-13_06-27.json'

# # twint.run.Search(c)

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [3]:
pd.options.display.max_columns=100

data = pd.read_json('../data/twint_tweets.json', lines=True)
print('SHAPE',data.shape)
data.head()

SHAPE (179, 36)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,tweet,language,mentions,urls,photos,replies_count,retweets_count,likes_count,hashtags,cashtags,link,retweet,quote_url,video,thumbnail,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1577654769098842112,1577654769098842112,2022-10-05 15:39:43 Hora de verano romance,2022-10-05,15:39:43,200,1162694149956603904,thebridge_tech,The Bridge,,Ya están aquí nuestros primeros mini emprended...,es,"[{'screen_name': 'genyusschool', 'name': 'geny...",[https://bit.ly/3Eky8S2],[https://pbs.twimg.com/media/FeTz56VXgAEoODd.jpg],0,2,3,[],[],https://twitter.com/TheBridge_Tech/status/1577...,False,,1,https://pbs.twimg.com/media/FeTz56VXgAEoODd.jpg,,,,,,,[],,,,
1,1577564440530124802,1577564440530124800,2022-10-05 09:40:47 Hora de verano romance,2022-10-05,09:40:47,200,1162694149956603904,thebridge_tech,The Bridge,,¡Feliz Día a nuestros Lead Instructors y Teach...,es,[],[],[https://pbs.twimg.com/tweet_video_thumb/FeSgh...,0,2,2,"[bootcamp, digital, diamundialdelosdocentes, d...",[],https://twitter.com/TheBridge_Tech/status/1577...,False,,1,https://pbs.twimg.com/tweet_video_thumb/FeSgh4...,,,,,,,[],,,,
2,1577334577701453827,1577334577701453824,2022-10-04 18:27:23 Hora de verano romance,2022-10-04,18:27:23,200,1003872445,paumugarra,Pau Mugarra,,Recordaros que la semana que viene tenemos la ...,es,"[{'screen_name': 'thebridge_tech', 'name': 'th...",[],[],0,2,12,[cps],[],https://twitter.com/PauMugarra/status/15773345...,False,,0,,,,,,,,[],,,,
3,1576951801047179264,1576951801047179264,2022-10-03 17:06:22 Hora de verano romance,2022-10-03,17:06:22,200,1162694149956603904,thebridge_tech,The Bridge,,¡Vuelven las #becas Digital Talent Pipeline! ...,es,[],[https://bit.ly/3CpTvQC],[https://pbs.twimg.com/media/FeJ01sEWAAEuiPI.jpg],0,1,1,"[becas, bootcamp, dtp, becasformacion, digital...",[],https://twitter.com/TheBridge_Tech/status/1576...,False,,1,https://pbs.twimg.com/media/FeJ01sEWAAEuiPI.jpg,,,,,,,[],,,,
4,1576902991507922944,1576902991507922944,2022-10-03 13:52:25 Hora de verano romance,2022-10-03,13:52:25,200,2529499620,formacion_fuc3,Formación Fundación Universidad Carlos III,,El desarrollador web es uno de los perfiles má...,es,"[{'screen_name': 'thebridge_tech', 'name': 'th...",[https://fundacion-uc3.thebridge.tech/bootcamp...,[https://pbs.twimg.com/media/FeJI53SWIAI1WiY.jpg],0,3,3,[bootcamp],[],https://twitter.com/formacion_fuc3/status/1576...,False,,1,https://pbs.twimg.com/media/FeJI53SWIAI1WiY.jpg,,,,,,,[],,,,

In [4]:
twitter = data[['id','tweet','language', 'date', 'time','user_id','name', 'username', 'retweets_count', 'replies_count', 'likes_count']]
twitter=twitter[twitter['language']=='es']
twitter['date']=twitter['date'].astype(str)

twitter.to_csv('data/twitter.csv', index=False)
twitter.head(1)

,id,tweet,language,date,time,user_id,name,username,retweets_count,replies_count,likes_count
0,1577654769098842112,Ya están aquí nuestros primeros mini emprended...,es,2022-10-05,15:39:43,1162694149956603904,The Bridge,thebridge_tech,2,0,3

In [5]:
twitter_tweets = twitter[['id','tweet','language', 'date', 'time', 'retweets_count', 'replies_count', 'likes_count','user_id']]

# twitter_tweets.to_csv('data/twitter_tweets.csv', index=False)

twitter_tweets.head(1)

,id,tweet,language,date,time,retweets_count,replies_count,likes_count,user_id
0,1577654769098842112,Ya están aquí nuestros primeros mini emprended...,es,2022-10-05,15:39:43,2,0,3,1162694149956603904

In [6]:
twitter_users = data[['user_id','name', 'username']]

# twitter_users.to_csv('data/twitter_users.csv', index=False)

twitter_users.head(1)

               user_id        name        username
0  1162694149956603904  The Bridge  thebridge_tech

In [7]:
twitter_users.head(1)

               user_id        name        username
0  1162694149956603904  The Bridge  thebridge_tech

In [8]:
# Creamos la base de datos y sus tablas
import sqlite3
sql = sqlite3.connect('data/DB_twitter.db')
cursor = sql.cursor()

lista_valores_tweets = twitter_tweets.values.tolist()
lista_valores_users = twitter_users.values.tolist()

cursor.execute('''CREATE TABLE users(user_id INT PRIMARY KEY, name TEXT, username TEXT)''')
cursor.execute('''CREATE TABLE tweets(id TEXT, tweet TEXT, language TEXT, date DATE, time TEXT, retweets_count INT, replies_count INT, likes_count INT, user_id INT, FOREIGN KEY(user_id) REFERENCES users(user_id))''')

cursor.executemany("INSERT or IGNORE INTO users VALUES (?,?,?)", lista_valores_users)
cursor.executemany("INSERT or IGNORE INTO tweets VALUES (?,?,?,?,?,?,?,?,?)", lista_valores_tweets)

sql.commit()
sql.close()